// primary-color

$Bright-orange: #e38826;
$Dark-cyan: #006970;
$Very-dark-cyan: #004241;


// Neutral

$Transparen-white-paragraphs: #ffffffbf;
$Very-light-gray-background-headings-buttons: #f2f2f2;